*{
    box-sizing: border-box;
}

body{
    overflow: hidden;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

.boy{
    width: 250px;
    height: 200px;
    /* background-color: black; */
    border-radius: 10%;
    position: absolute;
    bottom: 100px;
    background-size: cover;
    background-position: center;
    z-index: 2;
}

.enemy{
    bottom: 100px;
    width: 100px;
    height: 200px;
    position: absolute;
    background-position: center;
    background-size: contain;
    transform: scaleX(-1);
    /* background-color: yellow; */
    background-repeat: no-repeat;
    z-index: 2;
}

.fire-ball{
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    bottom: 150px;
    border-radius: 100%;
    background-image: linear-gradient(red,yellow);
}

footer{
    width: 100%;
    height: 170px;
    /* background-color: rgb(44, 15, 15); */
    position: absolute;
    bottom: 0;
}

.start{
    width: 300px;
    height: 300px;
    /* background-color: yellow; */
    position: absolute;
    background-image: url('../img/other/start-board.png');
    background-position: center;
    background-size: cover;
    bottom: 100px;
    left: 150px;
    font-size: 60px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    color: white;
}

.start-image{
    width: 1000px;
    height: 600px;
    position: relative;
    margin: auto;
    transform: translateY(20%);
    background-image: url("../img/other/START-GAME.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.9;
}
.btn-start{
    width: 120px;
    height: 60px;
    background-color: red;
    position: absolute;
    border-radius: 10px;
    bottom: 250px;
    right: 470px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.score{
    width: 250px;
    height: 100px;
    background-image: linear-gradient(rgb(18, 80, 18), rgb(29, 22, 22));
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
    z-index: 2;
}

.score-view{
    width: 250px;
    height: 80px;
    background-color: rgb(24, 146, 13);
    border-radius: 10px;
    position: absolute;
    left: 1000px;
    top: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
    z-index: 10;
}

.restart{
    width: 60vw;
    height: 80vh;
    position: absolute;
    margin: auto;
    left: 380px;
    background-image: url("../img/other/END-GAME.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.9;
    z-index: 2;
}
.btn-restart{
    width: 120px;
    height: 60px;
    background-color: red;
    position: absolute;
    border-radius: 10px;
    bottom: 150px;
    right: 740px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    cursor: pointer;
    z-index: 3;
}

    

